In [1]:
import pandas as pd

In [2]:
#PARAMETROS
file_path="00048_2025_03_0001 März 2025_v2.csv"
YEAR =2025
MONTH= 3
COMPANY=48

In [3]:
# cargar datos
df = pd.read_csv(file_path, delimiter=';', decimal=',')

C:\Users\lfarres\AppData\Local\Temp\ipykernel_1744\3274690327.py:2: DtypeWarning: Columns (27,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, delimiter=';', decimal=',')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50857 entries, 0 to 50856
Data columns (total 54 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Year                                  50857 non-null  int64
 1   Month                                 50857 non-null  int64
 2   Company Code                          50857 non-null  int64
 3   Item                                  50857 non-null  object
 4   Item description                      50857 non-null  object
 5   Suprafamily                           50857 non-null  object
 6   Family                                50857 non-null  object
 7   Subfamily ID                          50857 non-null  object
 8   Subfamily Description                 50235 non-null  object
 9   Customer Group ID                     50857 non-null  object
 10  Customer Group Description            25266 non-null  object
 11  Delivery address ID                   50857 non-null  int64
 12  Delivery address description          50857 non-null  object
 13  Country ID                            50857 non-null  object
 14  County ID (Blank)                     0 non-null      float64
 15  County (Blank)                        0 non-null      float64
 16  Province ID (Blank)                   0 non-null      float64
 17  Province (Blank)                      0 non-null      float64
 18  Postal Code                           50820 non-null  object
 19  Division                              50857 non-null  object
 20  Business Unit ID (EP to provide it)   50857 non-null  object
 21  Business Unit Dex (EP to provide it)  50857 non-null  object
 22  Sales Zone ID                         0 non-null      float64
 23  Sales Zone desc                       0 non-null      float64
 24  Promoter ID (Blank)                   50823 non-null  float64
 25  Promoter (Blank)                      50823 non-null  object
 26  Manufactued Marketed                  50857 non-null  object
 27  Supply Center ID                      50857 non-null  object
 28  Supply Center Description             50857 non-null  object
 29  Plant Supplier ID                     50857 non-null  object
 30  Plant Supplier                        50857 non-null  object
 31  Line Supplier ID                      50857 non-null  object
 32  Line Supplier                         50857 non-null  object
 33  Boxes                                 50235 non-null  float64
 34  Kgs                                   50235 non-null  float64
 35  Lbs                                   50235 non-null  float64
 36  Net Net Sales                         50235 non-null  float64
 37  Receipts management discounts         622 non-null    float64
 38  Off Invoice Rebate                    622 non-null    float64
 39  Shared Discounts Accrual              622 non-null    float64
 40  Advertising                           622 non-null    float64
 41  V1 Credit Notes                       0 non-null      float64
 42  Family Discount                       0 non-null      float64
 43  Invoice Rebate                        50235 non-null  float64
 44  Cash Discounts                        50235 non-null  float64
 45  Price List                            0 non-null      float64
 46  Cost of Goods Sold                    50235 non-null  float64
 47  Total Transportation Cost (C1)        49202 non-null  float64
 48  Fixed Distribution Costs              50235 non-null  float64
 49  Logistics Commisions                  0 non-null      float64
 50  Units                                 0 non-null      float64
 51  Final Market                          50857 non-null  object
 52  Internal Supply Chain                 0 non-null      float64
 53  Transfer Price Margin                 50857 non-null  float64
dtypes: float64(27), int64(4), object(23)
memory usage: 21.0+ MB

In [5]:
# reglas de validación 

def validate_year(position):
    #validar que la columna en la primera posicion (Year) sea un número entero 
    return df.iloc[:, position].apply(lambda x: isinstance(x,int) and x == YEAR).all()

def validate_month(position):
    #validar que la columna en la segunda posicion (Month) sea un número entero 
    return df.iloc[:, position].apply(lambda x: isinstance(x,int) and x == MONTH).all()

def validate_company(position):
    #validar que la columna en la tercera posicion (Company) sea igual al codigo de la compañía
    return df.iloc[:, position].apply(lambda x: x == COMPANY).all()

def validate_lenght(position, max_length):
    #validar longitud maxima cadena
    return df.iloc[:, position].apply(lambda x: len(str(x)) <= max_length).all()

def validate_numeric(position):
    #validar que una columna tenga solo valores numéricos
    return df.iloc[:, position].apply(lambda x: isinstance(x, (int, float))).all()

In [6]:
# ejecutar validaciones
validations = {
    'Year': validate_year(0),
    'Month': validate_month(1),
    'Company': validate_company(2),
    'Item ID': validate_lenght(3,25),
    'Item': validate_lenght(4,50),
    'Suprafamily ID': validate_lenght(5,3),
    'Family ID': validate_lenght(6,3),
    'Subfamily ID': validate_lenght(7,6),
    'Subfamily': validate_lenght(8,50),
    'Customer Group ID': validate_lenght(9,3),
    'Customer Group': validate_lenght(10,50),
    'Delivery address ID': validate_lenght(11,50),
    'Delivery address': validate_lenght(12,50),
    'Country ID': validate_lenght(13,50),
    'County ID': validate_lenght(14,50),
    'County': validate_lenght(15,50),
    'Province ID': validate_lenght(16,50),
    'Province': validate_lenght(17,50),
    'Postal code': validate_lenght(18,50),
    'Division ID': validate_lenght(19,50),
    'Business unit ID': validate_lenght(20,50),
    'Business unit': validate_lenght(21,50),
    'Sales Zone ID': validate_lenght(22,50),
    'Sales Zone': validate_lenght(23,50),
    'Promoter ID': validate_lenght(24,50),
    'Promoter': validate_lenght(25,50),
    'Manufactured Marketed': validate_lenght(26,50),
    'Supply center ID': validate_lenght(27,50),
    'Supply center': validate_lenght(28,50),
    'Plant supplier ID': validate_lenght(29,50),
    'Plant supplier': validate_lenght(30,50),
    'Line supplier ID': validate_lenght(31,50),
    'Line supplier': validate_lenght(32,50),
    'Boxes': validate_numeric(33),
    'Kgs': validate_numeric(34),
    'Lbs': validate_numeric(35),
    'Net net sales': validate_numeric(36),
    'Receipts discounts': validate_numeric(37),
    'Off invoice discounts': validate_numeric(38),
    'Shared discounts': validate_numeric(39),
    'Advertising': validate_numeric(40),
    'V1 credit notes': validate_numeric(41),
    'Family discounts': validate_numeric(42),
    'Invoice rebates': validate_numeric(43),
    'Cash discounts':validate_numeric(44) ,
    'Price list': validate_numeric(45),
    'Cost of goods sold': validate_numeric(46),
    'Transportation costs': validate_numeric(47),
    'Fixed distribution costs': validate_numeric(48),
    'Logistic costs': validate_numeric(49),
    'Units': validate_numeric(50),
    'Final market': validate_lenght(51,3),
    'Internal supply chain': validate_numeric(52),
    'Transfer price margin':validate_numeric(53)   

}

In [7]:
# mostrar resultados de validación
if all (validations.values()):
    print("Correct validation")
else:
    for column, result in validations.items():
        if not result:
            print(f"{column}: ERROR in validation")

Correct validation

In [8]:
df.iloc[:,12].unique()

array(['Goeken backen GmbH & Co. KG 33014 Bad Driburg',
       'Muster Gülten Aslan  ',
       'PETER BLESSING 78048 Villingen-Schwenningen', ...,
       'Amazon Fulfillment Germany GmbH (NON INVENTORY)',
       'Amazon Helmstedt GmbH (NON-INVENTORY) 38350 Hel',
       'Diakonisches Werk         -1305091- 08340 Schwa'], dtype=object)